<div class="flex w-full gap-6 min-h-100">
  <label #myLabel
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave()"
    (drop)="onDrop($event)"
    [class.border-purple-600]="isDragging()"
    [class.border-4]="isDragging()"
    [class.bg-purple-100]="isDragging()"
    for="dropzone-file"
    class="flex flex-col items-center justify-center flex-2 border-2 border-gray-300 
      border-dashed rounded-lg cursor-pointer" 
  >
    <p class="mb-2 text-lg">Click to upload or drag and drop</p>
    <input (change)="onSelectFile($event)" type="file" id="dropzone-file" class="hidden">
  </label>
  @if (imageSrc()) {
    <div class="flex flex-col flex-1 gap-3">
      <div class="flex justify-center flex-2 border-2 border-gray-300 rounded-lg">
        <img [src]="imageSrc()" alt="image preview" 
          class="aspect-square object-cover rounded-lg">
      </div>
      <div class="flex w-full gap-3">
        <button (click)="onCancel()" class="btn flex-1">Cancel</button>
        <button 
          (click)="onUploadFile()" 
          class="btn btn-primary flex-1" 
          [disabled]="loading()"
        >
          @if (loading()) {
            <span class="loading loading-spinner"></span>
          }
          Upload image
        </button>
      </div>
    </div>
  }
</div>