@if (paginatedMessages(); as paginatedMessages) {
  <div class="flex justify-between items-center">
    <div class="tabs tabs-box tabs-lg text-primary w-fit">
      @for(tab of tabs; track $index) {
        <button 
          role="tab" 
          class="tab" 
          [class.tab-active]="container() === tab.value"
          (click)="onContainerChange(tab.value)"
        >
          {{ tab.label }}
        </button>
      }
    </div>
    <app-paginator
      [hidden]="paginatedMessages.metadata.totalCount === 0"
      [page]="paginatedMessages.metadata.page"
      (pageChange)="onPageChange($event)"
      [pageSize]="paginatedMessages.metadata.pageSize"
      (pageSizeChange)="onPageSizeChange($event)"
      [totalCount]="paginatedMessages.metadata.totalCount"
      [totalPages]="paginatedMessages.metadata.totalPages"
    />
  </div>
  @if (paginatedMessages.items.length > 0) {
    <div class="overflow-x-auto mt-3">
      <table class="table bg-base-100">
        <thead>
          <tr>
            <th>{{ isInbox ? 'Sender' : 'Recipient'}}</th>
            <th>Content</th>
            <th>Date sent</th>
          </tr>
        </thead>
        <tbody>
          @for (message of paginatedMessages.items; track message.id) {
            <tr>
              <td>{{ isInbox ? message.senderDisplayName : message.recipientDisplayName }}</td>
              <td>{{ message.content }}</td>
              <td>{{ message.dateSent }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  } @else {
    <div class="mt-3 text-lg">There are no messages.</div>
  }
}
