@if (paginatedMessages(); as paginatedMessages) {
  <div class="flex justify-between items-center">
    <div class="tabs tabs-box tabs-lg text-primary w-fit">
      @for(tab of tabs; track $index) {
        <button 
          role="tab" 
          class="tab" 
          [class.tab-active]="container() === tab.value"
          (click)="onContainerChange(tab.value)"
        >
          {{ tab.label }}
        </button>
      }
    </div>
    <app-paginator
      [hidden]="paginatedMessages.metadata.totalCount === 0"
      [page]="paginatedMessages.metadata.page"
      (pageChange)="onPageChange($event)"
      [pageSize]="paginatedMessages.metadata.pageSize"
      (pageSizeChange)="onPageSizeChange($event)"
      [totalCount]="paginatedMessages.metadata.totalCount"
      [totalPages]="paginatedMessages.metadata.totalPages"
    />
  </div>
  @if (paginatedMessages.items.length > 0) {
    <div class="overflow-x-auto mt-3">
      <table class="table bg-base-100 table-fixed w-full">
        <thead>
          <tr>
            <th class="w-2/8">{{ isInbox ? 'Sender' : 'Recipient'}}</th>
            <th class="w-4/8">Content</th>
            <th class="w-2/8">Date sent</th>
          </tr>
        </thead>
        <tbody>
          @for (message of paginatedMessages.items; track message.id) {
            <tr 
              [class.font-bold]="isInbox && !message.dateRead"
              [routerLink]="['/members', (isInbox ? message.senderId : message.recipientId), 'messages']"
              class="hover:bg-base-200 cursor-pointer"
            >
              <td class="w-2/8">
                <div class="flex items-center gap-3">
                  <div class="h-12 w-12">
                    <img 
                      class="rounded-full"
                      [src]="isInbox ? message.senderImageUrl : message.recipientImageUrl" 
                      alt="Image of member"              
                    >
                  </div>
                  <div>{{ isInbox ? message.senderDisplayName : message.recipientDisplayName }}</div>
                </div>
              </td>
              <td class="truncate w-4/8">{{ message.content }}</td>
              <td class="w-2/8">{{ message.dateSent | date: 'medium'}}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  } @else {
    <div class="mt-3 text-lg">There are no messages.</div>
  }
}
