<div class="h-[75vh] overflow-auto rounded-box border boder-base-content/5 bg-base-100">
  <table class="table">
    <thead>
      <tr>
        <td>Email</td>
        <td>Active roles</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      @for (user of users(); track user.id) {
        <tr>
          <td>{{ user.email }}</td>
          <td>{{ user.roles }}</td>
          <td>
            <button 
              class="btn btn-primary" 
              (click)="openRolesModal(user)"
            >
              Edit roles
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

<dialog #rolesModal class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Edit roles for {{ selectedUser()?.email }}</h3>
    <fieldset class="fieldset w-full p-4 bg-base-100 border border-base-300 rounded-box">
      <legend class="fieldset-legend"></legend>
        @for (role of avaiableRoles; track $index) {
          <label class="fieldset-label">
            <input 
              type="checkbox" 
              [checked]="selectedUser()?.roles?.includes(role)" 
              class="checkbox"
              [disabled]="selectedUser()?.email === 'admin@test.com' && role === 'Admin'"
              [value]="role"
              (change)="toggleRole($event)"
            >
            {{ role }}
          </label>
        }
    </fieldset>
    <div class="modal-action">
      <button class="btn btn-primary" (click)="updateRoles()">Submit</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>Close</button>
  </form>
</dialog>